.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    background-color: var(--primary-lightwihte);
    width: 100%;
    height: 100%;
    display: flex;
    height: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999999;
}
.header-left{
    flex: 1 1 200px;
    width: 34%;
}
.header-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: var(--p20);
    flex: 1 1 200px;
    width: 34%;
}
.loginregister-container{
    position: relative;
    width: 160px;
    height: 100%;
}
.loginregister-container .loginregister-tab{
    display: block;
    box-shadow: rgba(67, 71, 85, 0.5) 0px 0px 0.25em, rgba(90, 125, 188, 0.1) 0px 0.25em 1em;
    color: var(--black);
    font-weight: bold;
    padding: var(--p16);
    cursor: pointer;
}
.loginregister-container .loginregister-tab::after{
    content: "\276F";
    font-size: var(--font-small);
    transform: rotate(90deg);
    position: absolute;
    right: 13px;
    top: 16px;
    display: block;
    transition: var(--transition3);
}
.loginregister-container input[type=checkbox]:checked + .loginregister-tab::after,
.loginregister-container input[type=radio]:checked + .loginregister-tab::after{
    transform: rotate(270deg);
}
.tab-content{
    width: 100%;
    position: absolute;
    right: 0;
    overflow: hidden;
    background-color: var(--primary-lightwihte);
    transition: var(--transition3); 
    height: 0;
}
.tab-content p{
    margin: 20px;
}
.loginregister-container input:checked ~ .tab-content{
    height: 200%;
}
.basket-container a{
    font-size: 36px;
    color: var(--primary-deepblue);
}
.serchbar-container{
    width: 100%;
    max-width: 32%;
    position: relative;
}
.search-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#searchQueryInput{
    width: 100%;
    height: 45px;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 26px;
    font-size: var(--font-small);
}
#searchQuerySubmit{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    color: var(--primary-deepblue);
    background: none;
    border: none;
    outline: none;
}
#searchQuerySubmit:hover{
    cursor: pointer;
}
.logo{
    width: 100%;
    text-align: center;
    height: 70px;
}
.logo img{
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.sidebar-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-lightwihte);
    width: 400px;
    max-width: 100%;
    height: calc(100% - 70px);
    position: fixed;
    left: 0;
    top: 70px;
    transform: translateX(-400px);
    transition: var(--transition3);
    padding-top: 5px;
}
.sidebar-menulist li{
    padding: var(--p20);
    cursor: pointer;
    border-bottom: 1px solid var(--primary-deepblue);
}
.product-container input[type="radio"],
.header-left input[type=checkbox],
#register-modal,
#login-modal,
#tab-1,
.tab-radio,
.cards{
    display: none;
}
.header-left input[type="checkbox"]:checked~.sidebar-menu{
    transform: translateX(0);
}
.toggle{
	position: relative;
    left: 20px;
	width: 30px;
	height: 30px;
	display: block;
	cursor: pointer;
}
.toggle:before,
.header-left input[type=checkbox]:checked + .toggle:before{
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -2px;
	width: 30px;
	height: 4px;
	border-radius: 2px;
	background-color: var(--primary-deepblue);
}
.toggle:before{
	-webkit-animation: animationOneReverse 1s ease forwards;
	animation: animationOneReverse 1s ease forwards;
}
@-webkit-keyframes animationOneReverse{
	0% { -webkit-transform: rotate(315deg); }
	25% { -webkit-transform: rotate(360deg); }
	50%, 100% { -webkit-transform: rotate(0deg); }
}
@keyframes animationOneReverse{
	0% { transform: rotate(315deg); }
	25% { transform: rotate(360deg); }
	50%, 100% { transform: rotate(0deg); }
}
.header-left input[type=checkbox]:checked + .toggle:before{
	-webkit-animation: animationOne 1s ease forwards;
	animation: animationOne 1s ease forwards;
}
@-webkit-keyframes animationOne{
	0%, 50% { -webkit-transform: rotate(0deg); }
	75% { -webkit-transform: rotate(360deg); }
	100% { -webkit-transform: rotate(315deg); }
}
@keyframes animationOne{
	0%, 50% { transform: rotate(0deg); }
	75% { transform: rotate(360deg); }
	100% { transform: rotate(315deg); }
}
.toggle:after,
.header-left input[type=checkbox]:checked + .toggle:after{
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -2px;
	width: 30px;
	height: 4px;
	border-radius: 2px;
	background-color: var(--primary-deepblue);
}
.toggle:after{
	-webkit-animation: animationTwoReverse 1s ease forwards;
	animation: animationTwoReverse 1s ease forwards;
}
@-webkit-keyframes animationTwoReverse{
	0% { -webkit-transform: rotate(405deg); }
	25% { -webkit-transform: rotate(450deg); }
	50%, 100% { -webkit-transform: rotate(0deg); }
}
@keyframes animationTwoReverse {
	0% { transform: rotate(405deg); }
	25% { transform: rotate(450deg); }
	50%, 100% { transform: rotate(0deg); }
}
.header-left input[type=checkbox]:checked + .toggle:after{
	-webkit-animation: animationTwo 1s ease forwards;
	animation: animationTwo 1s ease forwards;
}
@-webkit-keyframes animationTwo{
	0%, 50% { -webkit-transform: rotate(0deg); }
	75% { -webkit-transform: rotate(450deg); }
	100% { -webkit-transform: rotate(405deg); }
}
@keyframes animationTwo{
	0%, 50% { transform: rotate(0deg); }
	75% { transform: rotate(450deg); }
	100% { transform: rotate(405deg); }
}
.toggle .hamburger:before{
	content: '';
	position: absolute;
	top: 5px;
	width: 30px;
	height: 4px;
	border-radius: 2px;
	background-color: var(--primary-deepblue);
	-webkit-animation: animationBurgerTopReverse .5s ease forwards;
	animation: animationBurgerTopReverse .5s ease forwards;
}
@-webkit-keyframes animationBurgerTopReverse{
	0%, 50% { -webkit-transform: translateY(9px); opacity: 0; }
	51% { -webkit-transform: translateY(9px); opacity: 1; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@keyframes animationBurgerTopReverse{
	0%, 50% { transform: translateY(9px); opacity: 0; }
	51% { transform: translateY(9px); opacity: 1; }
	100% { transform: translateY(0px); opacity: 1; }
}
.header-left input[type=checkbox]:checked + .toggle .hamburger:before{
	-webkit-animation: animationBurgerTop .5s ease forwards;
	animation: animationBurgerTop .5s ease forwards;
}
@-webkit-keyframes animationBurgerTop{
	0% { -webkit-transform: translateY(0px); opacity: 1; }
	50% { -webkit-transform: translateY(8px); opacity: 1; }
	51%, 100% { -webkit-transform: translateY(8px); opacity: 0; }
}
@keyframes animationBurgerTop{
	0% { transform: translateY(0px); opacity: 1; }
	50% { transform: translateY(8px); opacity: 1; }
	51%, 100% { transform: translateY(8px); opacity: 0; }
}
.toggle .hamburger:after{
	content: '';
	position: absolute;
	bottom: 5px;
	width: 30px;
	height: 4px;
	border-radius: 2px;
	background-color: var(--primary-deepblue);
	-webkit-animation: animationBurgerBottomReverse .5s ease forwards;
	animation: animationBurgerBottomReverse .5s ease forwards;
}
@-webkit-keyframes animationBurgerBottomReverse{
	0%, 50% { -webkit-transform: translateY(-9px); opacity: 0; }
	51% { -webkit-transform: translateY(-9px); opacity: 1; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@keyframes animationBurgerBottomReverse{
	0%, 50% { transform: translateY(-9px); opacity: 0; }
	51% { transform: translateY(-9px); opacity: 1; }
	100% { transform: translateY(0px); opacity: 1; }
}
.header-left input[type=checkbox]:checked + .toggle .hamburger:after{
	-webkit-animation: animationBurgerBottom .5s ease forwards;
	animation: animationBurgerBottom .5s ease forwards;
}
@-webkit-keyframes animationBurgerBottom{
	0% { -webkit-transform: translateY(0px); opacity: 1; }
	50% { -webkit-transform: translateY(-8px); opacity: 1; }
	51%, 100% { -webkit-transform: translateY(-8px); opacity: 0; }
}
@keyframes animationBurgerBottom{
	0% { transform: translateY(0px); opacity: 1; }
	50% { transform: translateY(-8px); opacity: 1; }
	51%, 100% { transform: translateY(-8px); opacity: 0; }
}
.tab{
    display: inline-block;
    padding: var(--p20, --p20);
    cursor: pointer;
    color: var(--black);
}
#tab-one:checked~.panels #one-panel,
#tab-two:checked~.panels #two-panel,
#tab-three:checked~.panels #three-panel{
    display: block;
}
.panel{
    display: none;
    animation: scale 0.5s;
}
.btn{
    display: inline-block;
    padding: var(--p16);
    color: var(--black);
    cursor: pointer;
}
.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    pointer-events: none;
    transition: var(--transition3);
}
.modal-content{
    position: relative;
    width: 600px;
    max-width: 100%;
    background-color: var(--white);
    transform: scale(0);
    display: block;
    margin: auto;
    transition: var(--transition3);
}

.modal .modal-header::after,
.modal-footer::after {
    content: '';
    display: table;
    clear: both;
}
.modal-body{
    padding: var(--p16);
}
.modal-header,
.modal-footer {
    position: relative;
    padding: var(--p16);
    background-color: var(--primary-lightwihte);
}
.close{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0;
    height: 100%;
    cursor: pointer;
    padding: var(--p16);
    background-color: var(--white);
}
#login-modal:checked~.modal,
#register-modal:checked~.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}
#login-modal:checked~.modal .modal-content,
#register-modal:checked~.modal .modal-content{
    animation: scale .5s ease 0s .5 normal forwards;
}
.swiper{
    width: 100%;
    height: 500px;
}
.swiper-slide{
    text-align: center;
    font-size: var(--large);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
    margin: 70px 70px;
}
.category-container,
.product-container,
.product-main,
#ones:checked~.product-main .cards:nth-child(1),
#twos:checked~.product-main .cards:nth-child(2),
#threes:checked~.product-main .cards:nth-child(3){
    width: 1280px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.main-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.main-header h3{
    background-color: var(--primary-lightblue);
    color: var(--black);
    height: 100%;
    padding: 10px 60px;
}
.main-headermidle span{
    width: 100%;
    position: absolute;
    left: 0;
    border: solid 1px;
    border-style: dashed;
    color: var(--primary-deepblue);
    z-index: -1;
}
.category{
    flex: 1 1 350px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.category:hover .category-hover{
	  background-color: var(--primary-deepblue);
}
.category-hover{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border: 10px solid transparent;
    margin: 10px;
    transition: var(--transition5);
}
.category-hover:hover{
    margin: var(--m20);
    border: 10px solid var(--primary-lightwihte);
}
.category-hover::after{
    position: relative;
    top: 0px;
    opacity: 0;
    content: "\1F441";
    font-size: var(--font-xlarge);
    color: #fff;
    transition: var(--transition3); 
}
.category-hover:hover::after{
    opacity: 1;
    top: 0px;
}
.bestsellertrending-container,
.bestseller,
.trending{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    background-color: var(--primary-lightblue);
    background-image: radial-gradient(var(--primary-lightwihte) 2px, transparent 2px), radial-gradient(var(--primary-lightwihte) 2px, transparent 2px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
}
.bestseller-content a,
.trending-content a{
	display: inline-block;
    padding: var(--p20);
    text-align: center;
    overflow: hidden;
    background-color: var(--primary-lightwihte);
    border-radius: 5px;
    position: relative;
    color: var(--black);
    margin: 10px 5px 0px 5px;
    transition: var(--transition3);
    z-index: 1;
}
.bestseller-content a::before,
.trending-content a::before{
	content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--primary-deepblue);
    border-radius: 100%;
    z-index: -1;
    transform: scale(0);
    transition: var(--transition5);
}
.bestseller-content a:hover::before,
.trending-content a:hover::before{
	transform: scale(1.5);
}
.cardslider-dots{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0px;
}
.cardslider-dots label{
    background-color: var(--primary-lightblue);
    color: var(--black);
    float: left;
    position: relative;
    height: 40px;
    width: 40px;
    text-align: center;
    cursor: pointer;
}
.cardslider-dots label:nth-child(2){
    border-left: solid 1px;
    border-right: solid 1px;
}
.cardslider-dots b{
    position: absolute;
    top: 11px;
    left: 17px;
}
.card{
    flex: 1 1 300px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.card-header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--p20);
    z-index: 1;
}
.card-img{
    overflow: hidden;
}
.card-img img{
    width: 100%;
    height: 350px;
    background-color: var(--white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);
    transition: var(--transition5);
}
.card-img img:hover{
  transform: scale(1.03);
}
.card-body,
.card-footer{
    line-height: 35px;
    border-top: solid 1px;
    padding: 30px 16px;
    background-color: var(--primary-lightwihte);
}
.link-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer{
    background-color: var(--primary-lightwihte);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-description{
    color: #000;
    width: 100%;
    display: block;
    margin: var(--m16) auto;
}
.social ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}
.social ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--primary-deepblue);
    cursor: pointer;
    border-radius: 5px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 20px;
}
@media (max-width: 768px){
    .header-right{
        display: flex;
        justify-content: flex-start;
        padding: 15px;
    }
    .bestsellertrending-container,
    .bestseller,
    .trending{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .sidebar-menu{
        width: 100%;
        transform: translateX(-100%);
    }
    .panels,
    .footer-description,
    .brandslider-item-mobile{
        width: 100%;
    }
    .footer-bottom{
        justify-content: center;
    }
    .brandslider-activator:nth-of-type(n):checked ~ .brandslider-controls:nth-of-type(n) {
        display: none;
    }
    .brandslider-activator:nth-of-type(n):checked ~ .brandslider-screen .brandslider-track {
        -webkit-transform: none;
                transform: none;
    }
    .brandslider-track {
        overflow-x: auto;
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
}