*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    --sz: 10px;
    /*** size ***/
    --c0: #e6e1dc;
    --c1: #fff;
    --c2: #f5f2ef;
    --c3: #ede7e3;
    --ts: 50%/ calc(var(--sz) * 12.8) calc(var(--sz) * 22);
    background:
        /*bottom*/
        conic-gradient(from 120deg at 50% 86.5%, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
        conic-gradient(from 120deg at 50% 86.5%, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
        /*bottom dark*/
        conic-gradient(from 120deg at 50% 74%, var(--c0) 0 120deg, #fff0 0 360deg) var(--ts),
        /*right*/
        conic-gradient(from 60deg at 60% 50%, var(--c1) 0 60deg, var(--c2) 0 120deg, #fff0 0 360deg) var(--ts),
        /*left*/
        conic-gradient(from 180deg at 40% 50%, var(--c3) 0 60deg, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
        /*top dark*/
        conic-gradient(from 0deg at 90% 35%, var(--c0) 0 90deg, #fff0 0 360deg) var(--ts),
        conic-gradient(from -90deg at 10% 35%, var(--c0) 0 90deg, #fff0 0 360deg) var(--ts),
        conic-gradient(from 0deg at 90% 35%, var(--c0) 0 90deg, #fff0 0 360deg) var(--ts),
        conic-gradient(from -90deg at 10% 35%, var(--c0) 0 90deg, #fff0 0 360deg) var(--ts),
        /*top*/
        conic-gradient(from -60deg at 50% 13.5%, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
        conic-gradient(from -60deg at 50% 13.5%, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
        conic-gradient(from -60deg at 50% 41%, var(--c2) 0 60deg, var(--c3) 0 120deg, #fff0 0 360deg) var(--ts),
        var(--c0);
}
form label{
    color: #000;
}
a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.checkbox-wrapper .checkbox,
.radio-wrapper .radio{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.checkbox-wrapper label,
.radio-wrapper label{
    display: inline-block;
    color: #000;
    cursor: pointer;
    position: relative;
}
.checkbox-wrapper label span{
    display: inline-block;
    position: relative;
    background-color: white;
    width: 1em;
    height: 1em;
    transform-origin: center;
    vertical-align: middle;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.radio-wrapper label span{
    display: inline-block;
    position: relative;
    background-color: white;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform-origin: center;
    vertical-align: middle;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.checkbox-wrapper label span:before,
.radio-wrapper label span:before{
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: rgb(0, 0, 0, 0.3);
    position: absolute;
    transform: rotate(45deg);
    top: 8px;
    left: 6px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
}
.checkbox-wrapper label span:after,
.radio-wrapper label span:after{
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: rgb(0, 0, 0, 0.3);
    position: absolute;
    transform: rotate(305deg);
    top: 12px;
    left: 6px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
}
.checkbox-wrapper label:hover span:before,
.radio-wrapper label:hover span:before{
    width: 5px;
    transition: width 100ms ease;
}
  .checkbox-wrapper label:hover span:after,
  .radio-wrapper label:hover span:after{
    width: 10px;
    transition: width 100ms ease 100ms;
}
.checkbox-wrapper input[type=checkbox],
.radio-wrapper input[type=radio]{
    display: none;
}
.checkbox-wrapper input[type=checkbox]:checked + label span,
.radio-wrapper input[type=radio]:checked + label span{
    background-color: #16697a;
}
.checkbox-wrapper input[type=checkbox]:checked + label span:after,
.radio-wrapper input[type=radio]:checked + label span:after{
    width: 10px;
    background: #fff;
    transition: width 100ms ease 100ms;
}
.checkbox-wrapper input[type=checkbox]:checked + label span:before,
.radio-wrapper input[type=radio]:checked + label span:before{
    width: 5px;
    background: #fff;
    transition: width 100ms ease 100ms;
}
input[type=text],
input[type=password],
input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.select{
    position: relative;
    display: flex;
    width: 100%;
}
select{
  appearance: none;
  outline: 0;
  border: 0;
  border-radius: 3px;
  flex: 1;
  margin: 8px 0;
  padding: 12px 20px;
  color: #000;
  background-color: #ede7e3;
  cursor: pointer;
}
.select::after{
  content: '\21C5';
  position: absolute;
  top: 3px;
  right: 0;
  padding: 1em;
  pointer-events: none;
}
input[type=submit],
input[type=button]{
    background-color: #489fb5;
    border: 1px solid #489fb5;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.15;
    overflow: visible;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    margin: 5px 0px;
}
input[type=submit]:disabled,
input[type=button]:disabled{
    opacity: .5;
}
.button-26:focus{
    outline: 0;
}
input[type=submit]:hover,
input[type=button]:hover{
    background-color: #82c0cc;
    border-color: #82c0cc;
}
input[type=submit]:active,
input[type=button]:active{
    background-color: #82c0cc;
    border-color: #82c0cc;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    background: rgba(237, 231, 227, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 9999999;
}
.header-left,
.header-right{
    flex: 1 1 200px;
    width: 34%;
}
.logo{
    width: 32%;
    height: 70px;
    text-align: center;
}
.logo img{
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sidebar-menu{
    background: rgba(237, 231, 227, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 400px;
    max-width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 70px;
    transform: translateX(-400px);
    transition: all .3s;
    padding-top: 5px;
}
.sidebar-menulist li{
    list-style: none;
    color: #000;
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #16697a;
}
.sidebar-menulist li a{
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.header-left input[type="checkbox"]:checked~.sidebar-menu{
    transform: translateX(0);
}
.header-left input[type=checkbox] {
    display: none;
}
.toggle{
	position: relative;
    left: 20px;
	width: 30px;
	height: 30px;
	display: block;
	cursor: pointer;
}
.toggle:before,
input[type=checkbox]:checked + .toggle:before{
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -2px;
	width: 30px;
	height: 4px;
	border-radius: 2px;
	background: #000;
}
.toggle:before{
	-webkit-animation: animationOneReverse 1s ease forwards;
	animation: animationOneReverse 1s ease forwards;
}
@-webkit-keyframes animationOneReverse{
	0% { -webkit-transform: rotate(315deg); }
	25% { -webkit-transform: rotate(360deg); }
	50%, 100% { -webkit-transform: rotate(0deg); }
}
@keyframes animationOneReverse{
	0% { transform: rotate(315deg); }
	25% { transform: rotate(360deg); }
	50%, 100% { transform: rotate(0deg); }
}
input[type=checkbox]:checked + .toggle:before{
	-webkit-animation: animationOne 1s ease forwards;
	animation: animationOne 1s ease forwards;
}
@-webkit-keyframes animationOne{
	0%, 50% { -webkit-transform: rotate(0deg); }
	75% { -webkit-transform: rotate(360deg); }
	100% { -webkit-transform: rotate(315deg); }
}
@keyframes animationOne{
	0%, 50% { transform: rotate(0deg); }
	75% { transform: rotate(360deg); }
	100% { transform: rotate(315deg); }
}
.toggle:after,
input[type=checkbox]:checked + .toggle:after{
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -2px;
	width: 30px;
	height: 4px;
	border-radius: 2px;
	background: #000;
}
.toggle:after{
	-webkit-animation: animationTwoReverse 1s ease forwards;
	animation: animationTwoReverse 1s ease forwards;
}
@-webkit-keyframes animationTwoReverse{
	0% { -webkit-transform: rotate(405deg); }
	25% { -webkit-transform: rotate(450deg); }
	50%, 100% { -webkit-transform: rotate(0deg); }
}
@keyframes animationTwoReverse {
	0% { transform: rotate(405deg); }
	25% { transform: rotate(450deg); }
	50%, 100% { transform: rotate(0deg); }
}
input[type=checkbox]:checked + .toggle:after{
	-webkit-animation: animationTwo 1s ease forwards;
	animation: animationTwo 1s ease forwards;
}
@-webkit-keyframes animationTwo{
	0%, 50% { -webkit-transform: rotate(0deg); }
	75% { -webkit-transform: rotate(450deg); }
	100% { -webkit-transform: rotate(405deg); }
}
@keyframes animationTwo{
	0%, 50% { transform: rotate(0deg); }
	75% { transform: rotate(450deg); }
	100% { transform: rotate(405deg); }
}
.toggle .hamburger:before{
	content: '';
	position: absolute;
	top: 5px;
	width: 30px;
	height: 4px;
	border-radius: 2px;
	background: #000;
	-webkit-animation: animationBurgerTopReverse .5s ease forwards;
	animation: animationBurgerTopReverse .5s ease forwards;
}
@-webkit-keyframes animationBurgerTopReverse{
	0%, 50% { -webkit-transform: translateY(9px); opacity: 0; }
	51% { -webkit-transform: translateY(9px); opacity: 1; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@keyframes animationBurgerTopReverse{
	0%, 50% { transform: translateY(9px); opacity: 0; }
	51% { transform: translateY(9px); opacity: 1; }
	100% { transform: translateY(0px); opacity: 1; }
}
input[type=checkbox]:checked + .toggle .hamburger:before{
	-webkit-animation: animationBurgerTop .5s ease forwards;
	animation: animationBurgerTop .5s ease forwards;
}
@-webkit-keyframes animationBurgerTop{
	0% { -webkit-transform: translateY(0px); opacity: 1; }
	50% { -webkit-transform: translateY(9px); opacity: 1; }
	51%, 100% { -webkit-transform: translateY(9px); opacity: 0; }
}
@keyframes animationBurgerTop{
	0% { transform: translateY(0px); opacity: 1; }
	50% { transform: translateY(9px); opacity: 1; }
	51%, 100% { transform: translateY(9px); opacity: 0; }
}
.toggle .hamburger:after{
	content: '';
	position: absolute;
	bottom: 5px;
	width: 30px;
	height: 4px;
	border-radius: 2px;
	background: #000;
	-webkit-animation: animationBurgerBottomReverse .5s ease forwards;
	animation: animationBurgerBottomReverse .5s ease forwards;
}
@-webkit-keyframes animationBurgerBottomReverse{
	0%, 50% { -webkit-transform: translateY(-9px); opacity: 0; }
	51% { -webkit-transform: translateY(-9px); opacity: 1; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@keyframes animationBurgerBottomReverse{
	0%, 50% { transform: translateY(-9px); opacity: 0; }
	51% { transform: translateY(-9px); opacity: 1; }
	100% { transform: translateY(0px); opacity: 1; }
}
input[type=checkbox]:checked + .toggle .hamburger:after{
	-webkit-animation: animationBurgerBottom .5s ease forwards;
	animation: animationBurgerBottom .5s ease forwards;
}
@-webkit-keyframes animationBurgerBottom{
	0% { -webkit-transform: translateY(0px); opacity: 1; }
	50% { -webkit-transform: translateY(-9px); opacity: 1; }
	51%, 100% { -webkit-transform: translateY(-9px); opacity: 0; }
}
@keyframes animationBurgerBottom{
	0% { transform: translateY(0px); opacity: 1; }
	50% { transform: translateY(-9px); opacity: 1; }
	51%, 100% { transform: translateY(-9px); opacity: 0; }
}
.tab{
    display: inline-block;
    padding: 20px 20px;
    cursor: pointer;
    color: #000;
}
.radio {
    display: none;
}
#tab-one:checked~.panels #one-panel,
#tab-two:checked~.panels #two-panel,
#tab-three:checked~.panels #three-panel {
    display: block;
}
.panel{
    display: none;
    animation: scale 0.5s;
}
[data-toggle="modal"]{
    padding: 10px 20px;
    border: solid 1px #16697a;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
    float: right;
}
[data-toggle="modal"]:hover,
[data-toggle="modal"]:focus{
    background-color: rgb(130, 192, 204, 0.1);
}
.namesurname,
.passwordrpassword,
.citycounty,
.gender-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 30px;
}
.gender{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.citycounty label{
    width: 100%;
}
.modal{
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh + 100px);
    transition: all .3s;
    overflow: auto;
    color: #fff;
    padding: 100px 0px;
}
.modal:before{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    cursor: default;
}
.modal-body{
    position: relative;
    z-index: 999;
    background: rgb(237, 231, 227, 0.8);
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
    animation: scale .5s;
}
.modal-header,
.modal-content,
.modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
.modal-close{
    position: absolute;
    right: 35px;
    top: 10px;
    transition: all .3s;
}
.modal-checkbox{
    display: none;
}
.modal-checkbox:checked+.modal{
    display: block;
    opacity: 1;
}
.swiper{
    width: 100%;
    height: 500px;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
    margin: 70px 0px;
}
.main-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.main-header h3{
    background-color: #82c0cc;
    height: 100%;
    padding: 10px 60px;
}
.main-headermidle span{
    width: 100%;
    position: absolute;
    left: 0;
    border: solid 1px;
    border-style: dashed;
    color: #16697a;
    z-index: -1;
}

.product-container,
.category-container,
.product-main,
#ones:checked~.product-main .cards:nth-child(1),
#twos:checked~.product-main .cards:nth-child(2),
#threes:checked~.product-main .cards:nth-child(3){
    width: 1280px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    animation: scale 0.5s;
}
.category{
    flex: 1 1 350px;
}
.category .category-title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}
.category-content{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.category-content .category-overlay{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.category-content:hover .category-overlay{
    opacity: 1;
}
.category-image{
    width: 100%;
}
.category-details{
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.category-content:hover .category-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
.category-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.category-details p{
    color: #fff;
    font-size: 0.8em;
}
.fadeIn-bottom{
    top: 80%;
}
.fadeIn-top{
    top: 20%;
}
.fadeIn-left{
    left: 20%;
}
.fadeIn-right{
    left: 80%;
}
.bestsellertrending-container,
.bestseller,
.trending{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    background-color: #82c0cc;
    background-image: radial-gradient(#ddd 2px, transparent 2px), radial-gradient(#ddd 2px, transparent 2px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    background-color: #82c0cc;
}
.bestseller-content a,
.trending-content a{
	display: inline-block;
	width: 150px;
    max-width: 150px;
	padding: 15px 0;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 600;
	border: 2px solid #F44336;
	position: relative;
	color: #F44336;
	margin-top: 10px;
	transition: 0.2s ease-in-out color;
}
.bestseller-content a::before,
.trending-content a::before{
	content: " ";
	display: block;
	width: 150px;
	height: 150px;
	position: absolute;
	left: 0;
	top: 0;
	background: #F44336;
	border-radius: 100%;
	z-index: 1;
	transform: scale(0);
	transition: 0.4s ease-in-out transform;
}
.bestseller-content a:hover,
.trending-content a:hover{
	color: #fff;
}
.bestseller-content a:hover::before,
.trending-content a:hover::before{
	transform: scale(1.5);
}
.cards {
    display: none;
}
.cardslider-dots{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0px;
}
.cardslider-dots label{
    background-color: #82c0cc;
    float: left;
    position: relative;
    height: 40px;
    width: 40px;
    text-align: center;
    cursor: pointer;
}
.cardslider-dots label:nth-child(2){
    border-left: solid 1px;
    border-right: solid 1px;
}
.cardslider-dots b{
    position: absolute;
    top: 11px;
    left: 17px;
}
input[type="radio"]{
    display: none;
}
.card{
    flex: 1 1 300px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.card-header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1;
}
.card-img{
    overflow: hidden;
}
.card-img img{
  transform: scale(1);
  transition: all 0.5s;
}
.card-img img:hover{
  transform: scale(1.03);
}
.card-body,
.card-footer{
    line-height: 35px;
    border-top: solid 1px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
}
.link-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.brandslider-container{
    width: 100%;
    position: relative;
}
.brandslider-activator{
    display: none;
}
.brandslider-controls{
    display: none;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.brandslider-controls:first-of-type {
    justify-content: flex-end;
}
.brandslider-controls:last-of-type {
    justify-content: flex-start;
}
.brandslider-control{
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #3d414a;
    border-radius: 100%;
    box-shadow: 0 2px 10px 0 rgba(33, 34, 36, 0.3);
    font-size: 24px;
    height: 48px;
    justify-content: center;
    transition: 0.3s all;
    width: 48px;
    z-index: 1;
}
.brandslider-activator:nth-of-type(1):checked ~ .brandslider-controls:nth-of-type(1) {
    display: flex;
} 
.brandslider-activator:nth-of-type(1):checked ~ .brandslider-screen .brandslider-track {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
}
.brandslider-activator:nth-of-type(2):checked ~ .brandslider-controls:nth-of-type(2) {
    display: flex;
}
.brandslider-activator:nth-of-type(2):checked ~ .brandslider-screen .brandslider-track {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}
.brandslider-screen{
    overflow: hidden;
}
.brandslider-track{
    font-size: 0;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.brandslider-item{
    display: inline-flex;
    vertical-align: top;
    white-space: normal;
}
.brandslider-item-desktop{
    width: 16.667%;
}
.brandslider-img{
    color: #fff;
    display: flex;
    font-family: Helvetica;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 56px;
    height: 100px;
    width: 100%;
}
.brandslider-img img{
    border-radius: 100%;
}
.footer{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-description{
    color: #000;
    width: 100%;
    display: block;
    margin: 15px auto;
}
.social ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}
.social ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid #000;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s;
}
.social ul li:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .3s;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.footer-bottom a{
    color: rgb(23, 23, 137);
}
@media (max-width: 768px){
    .header-right{
        display: flex;
        justify-content: flex-start;
        padding: 15px;
    }
    .bestsellertrending-container,
    .bestseller,
    .trending{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .sidebar-menu{
        width: 100%;
        transform: translateX(-100%);
    }
    .panels,
    .footer-description,
    .brandslider-item-mobile{
        width: 100%;
    }
    .footer-bottom{
        justify-content: center;
    }
    .brandslider-activator:nth-of-type(n):checked ~ .brandslider-controls:nth-of-type(n) {
        display: none;
    }
    .brandslider-activator:nth-of-type(n):checked ~ .brandslider-screen .brandslider-track {
        -webkit-transform: none;
                transform: none;
    }
    .brandslider-track {
        overflow-x: auto;
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
}
@keyframes scale{
    0%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes s_scroll{
    0%{
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100%{
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
}